<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercise tracker</title>
    <link
      rel="shortcut icon"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon.ico"
      type="image/x-icon" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Exercise tracker</h1>
    <div class="container">
      <form class="card" action="/api/users" method="post">
        <h3 class="sub-title">Create a New User</h3>
        <code>POST /api/users</code>
        <input class="form-elements" type="text" id="urname" name="username" placeholder="Username" />
        <button class="form-buttons" type="submit">Submit</button>
      </form>

      <form class="card" action="" method="post">
        <h3 class="sub-title">Add exercises</h3>
        <code>POST /api/users/:_id/exercises</code>
        <input class="form-elements" type="text" name=":_id" id="uid" placeholder=":_id" />
        <input
          class="form-elements"
          type="text"
          name="description"
          id="description"
          placeholder="Description" 
          required/>
        <input
          class="form-elements"
          type="text"
          name="duration"
          id="duration"
          placeholder="Duration (mins)" 
          required/>
        <input class="form-elements" type="text" name="date" id="date" placeholder="Date (yyyy-mm-dd)" />
        <button class="form-buttons" type="submit">Submit</button>
      </form>

      <div class="card">
        <h3>GET user's exercise log:</h3>
        <code>GET /api/users/:_id/logs?[from][&to][&limit]</code>
        <code>[ ] = optional</code>
        <code>from, to = dates (yyyy-mm-dd)</code>
        <code>limit = number</code>
      </div>
    </div>
  </body>
</html>
